#entete {
  background-image: url("../img/242.jpg");
  background-size: 110px;
  border-bottom: 3px solid blue;
}

.flaticon-transfer{
  font-size: 6em;
}

#homePhone a:hover {
  text-decoration: none ;
}

#addaccount,#addMoney, #transfer, #withdraw {
  margin: 10px auto;
}

#tablehome {
  overflow-x: scroll;
}
